.about-container {
  position: relative;
  width: 55vw;
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
}

.left-about-section {
  position: sticky;
  top: 80px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-about-section > p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(216, 216, 216);
}

.profile-pic-container {
  position: relative;
  width: 240px; /* Set desired width */
  height: 240px; /* Set desired height */
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.profile-pic {
  width: 99%;
  height: 99%;
  object-fit: cover;
  border: 1px solid rgb(141, 225, 249);
  border-radius: 50%;
}

.right-about-section {
  width: 65%;
  text-align: start;
  height: 200vh;
}

.right-about-section > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: 800;
}

.right-about-section > p {
  font-weight: 500;
  font-size: 20px;
  color: rgb(238, 238, 238);
}

.subtitle {
  margin-top: 0px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  color: rgb(216, 216, 216);
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  margin-top: -14px;
  margin-bottom: 36px;
}

.social-button {
  color: white;
  font-weight: 900;
  font-size: 16px;
  padding: 5px 14px;
  background-color: transparent;
  border: 1px solid rgb(81, 96, 118);
  border-radius: 8px;
}

.social-button:hover {
  cursor: pointer;
  background-color: rgba(56, 96, 131, 0.3);
}

.skills-section {
  margin-top: 50px;
}

.skills-section > h2,
.education-section > h2 {
  font-weight: 800;
}

.skill-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  justify-content: space-between;
  gap: 12px;
}

.skill-card {
  flex: 0 1 25%;
  min-width: 120px; /* Optional: Set a maximum width for smaller screens */
  height: 180px;
  background-color: rgba(39, 39, 94, 0.5);
  border: 1px solid rgb(87, 99, 139);
  border-radius: 20px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
}

.skill-card img {
  max-width: 80%; /* Ensures the image scales with the card */
  max-height: 60%; /* Limits the image height */
  object-fit: contain; /* Ensures the image doesn't distort */
}

.skill-card p {
  width: 100%;
  margin: 0;
  position: absolute; /* Position the text relative to the card */
  bottom: 26px; /* Set fixed distance from the bottom of the card */
  text-align: center; /* Center the text horizontally within the card */
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .skill-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-card {
    flex: 1 1 25%;
    max-width: none;
  }
}

.education-section h3 {
  font-size: 28px;
}

.education-section > h2 {
  margin-bottom: 0px;
}

.education-section p {
  font-size: 22px;
  font-weight: 500;
  color: rgb(216, 216, 216);
}

.education-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
