.heading-container {
  position: relative;
  width: 65vw;
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.heading-container > h1 {
  margin-bottom: 0px;
  font-size: 80px;
}

.heading-container > p {
  margin-top: 10px;
  font-weight: 400;
  text-align: left;
  color: rgb(216, 216, 216);
}

.about-button {
  color: white;
  background-color: transparent;
  font-size: medium;
  font-weight: 600;
  border: 1px solid rgb(81, 96, 118);
  border-radius: 20px;
  padding: 9px 26px;
}

.about-button:hover {
  cursor: pointer;
  background-color: rgba(56, 96, 131, 0.3);
}

/* Define the fade-in and move-from-left animation */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* Starts from the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Ends at the original position */
  }
}

/* Apply animation to elements */
.fade-in-left {
  opacity: 0; /* Start hidden */
  animation: fadeInLeft 1s ease-out forwards; /* Animation properties */
}

/* Optional: You can stagger the animation for multiple elements */
.fade-in-left:nth-child(1) {
  animation-delay: 0.3s; /* Delay the first element */
}

.fade-in-left:nth-child(2) {
  animation-delay: 0.6s; /* Delay the second element */
}

.fade-in-left:nth-child(3) {
  animation-delay: 0.9s; /* Delay the third element */
}

/* You can also style the elements in a separate class */
.fade-in-left-text {
  font-size: 24px;
  color: white;
}
